* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: #fefefe;
  display: flex;
  flex-direction: column;
  font-family: "Teko", sans-serif;
}

#background-title {
  width: 100%;
  height: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;
}

#background-title p {
  color: rgb(136, 136, 136);
  font-family: "Teko", sans-serif;
  font-size: 24vw;
  font-weight: 100;
  letter-spacing: -10px;
  opacity: 0.5;
}
/* main-estilos-------------------------------------------*/
main {
  height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* header-estilos-------------------------------------------*/
.head {
  height: 2rem;
  flex: 5%;
  width: 100%;
  display: flex;
}

.head p {
  font-size: 3rem;
  letter-spacing: 0.5px;
}

.head img {
  position: relative;
  top: 1.05rem;
}
#e-arrow {
  left: 0.29rem;
}

#d-arrow {
  right: 0.3rem;
}
/* conteudo-slide-estilos-------------------------------------------*/
.conteudo {
  width: 100%;
  display: flex;
  flex: 80%;
  justify-content: center;
  align-items: center;
}

.btn-slide {
  background: none;
  border: none;
  outline: none;
}

.btn-slide:hover {
  transform: scale(1.02);
}

.slide-container {
  width: 40rem;
  height: 27rem;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  overflow: hidden;
}

.slide-item {
  filter: grayscale(90%);
  grid-column: 1/2;
  grid-row: 1/2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#slide-dois {
  z-index: 100;
}
/* aside-estilos-------------------------------------------*/
.slide-prevs {
  position: relative;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 60%;
  flex: 5%;
  gap: 20px;
}

.prev-btn {
  width: 25px;
  height: 25px;
  border: 3px solid #000;
}

.prev-fill {
  width: 100%;
  height: 100%;
  transform: rotateX(90deg);
  background: #000;
  transition: transform 200ms linear;
  transform-origin: top;
}

#d-prev-btn {
  transform-origin: bottom;
}

.prev-btn:hover .prev-fill {
  transform: rotateX(0);
}
/* aside-estilos-------------------------------------------*/
.aside {
  flex: 10%;
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.aside p {
  margin-right: 1.5rem;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 1px;
}

.aside p span {
  color: #8a8a8a;
}

@media screen and (max-width: 840px) {
  #background-title {
    font-size: 24vw;
  }
  .btn-slide img {
    width: 40px;
  }
  .slide-container {
    width: 600px;
  }

  .slide-item {
    width: 95%;
    height: 80%;
  }

  .slide-prevs {
    bottom: 30px;
  }
}
